<h3 mat-dialog-title>Add Flashcard</h3>
<mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" name="qid" [(ngModel)]="newFlashcard.qid" hidden>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Question</mat-label>
        <input matInput type="text" name="question" [(ngModel)]="newFlashcard.question">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Answer</mat-label>
        <input matInput type="text" name="answer" [(ngModel)]="newFlashcard.answer">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" name="status" [(ngModel)]="newFlashcard.status" hidden>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button type="submit" (click)="addFlashcard()" cdkFocusInitial>Add Flashcard</button>
</mat-dialog-actions>

