h3 {
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 300px;
}

.button-group {
    justify-content: center;
    display:flex;
    gap: 20px;
    padding: 20px;
}