<div class="container">
    <h3>Edit Flashcard</h3>
    <div class="form">
        <form #form="ngForm">
            <div>
                <input type="text" name="qid" [(ngModel)]="editedFlashcard.qid" hidden>
            </div>
            <div>
                <label>Question:</label>
                <input type="text" name="question" [(ngModel)]="editedFlashcard.question">
            </div>
            <div>
                <label>Answer:</label>
                <input type="text" name="answer" [(ngModel)]="editedFlashcard.answer">
            </div>
            <div>
                <input type="text" name="status" [(ngModel)]="editedFlashcard.status" hidden>
            </div>
            <div class="button-group">
                <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
                <button class="btn btn-primary" type="submit" (click)="editFlashcard()" cdkFocusInitial>Edit Flashcard</button>
            </div>
        </form>
    </div>
</div>





